name: CI/CD Pipeline DevCalc

on:
  push:
    branches:
      - main
      - feature/calculator-endpoints
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install

      - name: Run Tests
        run: mvn test

  package:
    name: Package JAR
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Generate Artifact
        run: mvn package -DskipTests

  deploy:
    name: Deploy Simulation
    runs-on: ubuntu-latest
    needs: [build-and-test, package]
    steps:
      - name: Deploy Message
        run: echo "Deploy realizado com sucesso"