name: Hello Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  display-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check success
        run: echo "Pipeline iniciado com sucesso"